<div class="sidebar">

    <h3 class="logo">
        <i class="bi bi-book-half"></i>
        Biblioteca
        <br />
        <span>UNIDESC</span>
    </h3>

    <ul>

        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="bi bi-house-door-fill"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a asp-controller="Livros" asp-action="Index">
                <i class="bi bi-book-fill"></i>
                Livros
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-arrow-left-right"></i>
                Empréstimos
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-people-fill"></i>
                Usuários
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-graph-up"></i>
                Relatórios
            </a>
        </li>

    </ul>

</div>